@charset "UTF-8";

@media screen and (min-width: 768px) {
    #mobile {
        display: none;
    }

    #menu  {
        background-color: #4973BF;
        display: flex;
        text-align: center;
        padding: 10px;
        flex-wrap: nowrap;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    #menu > a {
        padding-left: 20px;
        font-size: 20px;
        text-decoration: none;
        color: #D0DBED;
        transition: text-decoration 0.3s ease;
    }

    #menu > a:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 1024px) {
    #menu > a {
        font-size: 24px;
    }
}