@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

html, body {
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
  }
  
body {
    background-color: #b0cddf;
}

#menu {
    display: none;
}


#mobile {
    display: block;
   /* background: linear-gradient( #D0DBED, #ABBEDE, #869DD7, #4973BF, #3E4D84 ); */
    background-color: #4973BF;
    width: 60vw;
    height: 100vh;
    border-radius: 0px 20px 20px 0px;
    position: fixed;
    top: 0;
    left: -60vw;
    transition: left 0.3s ease;
    z-index: 1000;
}



#toggleMenu {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4973BF;
    color: #D0DBED;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1100;
}

#toggleMenu:hover {
    background-color: #869DD7;
}

#mobile > img {
    display: block;
    border-radius: 50%;
    padding: 30px;

}

#mobile > p {
    color: #D0DBED;
    padding: 10px 0px 40px 24px;
    font-size: 25px;
    border-bottom: 2px solid #0859e4;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}

#sidebar > a {
    color: #D0DBED;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 24px;
    margin: 10px;
}

#sidebar > a:hover {
    background-color: #869DD7;
    color: #3E4D84;
}

#topo {
    background-image: url(img/IMG-20240407-WA0032.jpg);
    background-size: cover;
    background-position: center;
    height: 36.5vw;
    min-height: 160px;
    max-height: 500px;

}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 30px 15px;
}
  
.center {
    text-align: center;
}
  
.flex-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#home .noivos {
    font-size: 40px;
    color: #4973BF;
    margin-bottom: 20px;
}
  
#home .text {
    font-size: 20px;
    color: #3E4D84;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 10px;
}

.noivos {
    color: #4973BF;
    text-align: center;
}

#home > img {
    padding-bottom: 20px;
}

#contador {
    text-align: center;
    padding: 70px;
}

#contador h1 {
    color: #3E4D84;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

#contadorfilho {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.time {
    background-color: #4973BF;
    color: #D0DBED;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time span {
    display: block;
    padding: 5px;
    color: #D0DBED;
    font-size: 20px;
}



#foto {
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

#mapa > h1 {
    color: #3E4D84;
    text-align: center;
    font-size: 30px;
}

#mapa {
    text-align: center;
    padding: 40px 0;

}
  
#mapa iframe {
    width: 80vw;
    height: 600px;
    border: none;
    border-radius: 10px;
    padding-top: 40px;
}
  

  

