@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    display: none;
}


#mobile {
    display: block;
   /* background: linear-gradient( #D0DBED, #ABBEDE, #869DD7, #4973BF, #3E4D84 ); */
    background-color: #4973BF;
    width: 65vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#mobile > img {
    display: block;
    border-radius: 50%;
    padding: 30px;

}

#mobile > p {
    color: #D0DBED;
    padding: 10px 0px 40px 24px;
    font-size: 25px;
    border-bottom: 2px solid #0859e4;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}

#sidebar > a {
    color: #D0DBED;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 24px;
    margin: 10px;
}

#sidebar > a:hover {
    background-color: #869DD7;
    color: #3E4D84;
}